<table ng-table="$ctrl.tableParams" class="table">
    <tr ng-repeat="element in $data">
        <td title="'Factory code'">
            {{element.factoryCode}}
        </td>
        <td title="'Category code'">
            {{element.categoryCode}}
        </td>
        <td title="'Current value'">
            {{element.value}}
        </td>
        <td title="''">
            <button class="btn btn-primary" ng-click="$ctrl.goToHistory(element.factoryCode, element.categoryCode)">See history</button>
            <button class="btn btn-primary" ng-click="$ctrl.generateNew(element.factoryCode, element.categoryCode)">Generate new</button>
        </td>
    </tr>
</table>