<div class="p-2">
  <button mat-flat-button color="primary" (click)="openPopup()">Generate
    new<mat-icon>add</mat-icon></button>
</div>

<app-loading-overlay [isLoading]="isLoading">

  <table mat-table [dataSource]="dataSource" style="width: 100%;">
    <ng-container matColumnDef="factoryCode">
      <th mat-header-cell *matHeaderCellDef class="w-25">Factory code</th>
      <td mat-cell *matCellDef="let element">{{element.factoryCode}}</td>
    </ng-container>

    <ng-container matColumnDef="categoryCode">
      <th mat-header-cell *matHeaderCellDef class="w-25">Category code</th>
      <td mat-cell *matCellDef="let element">{{element.categoryCode}}</td>
    </ng-container>

    <ng-container matColumnDef="currentValue">
      <th mat-header-cell *matHeaderCellDef class="w-25">Current value</th>
      <td mat-cell *matCellDef="let element">{{element.value}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="w-25"></th>
      <td mat-cell *matCellDef="let element">
        <button class="mr-1" mat-raised-button color="accent"
          [routerLink]="['/identifier', element.factoryCode, element.categoryCode]">History</button>
        <button mat-raised-button color="accent" (click)="generateNew(element)" [disabled]="element.isLoading">Generate
          new </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</app-loading-overlay>
