<div class="list-container">
  <div class="loading-overlay" *ngIf="isLoading">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" style="width: 100%;">
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>Created on</th>
      <td mat-cell *matCellDef="let element">{{element.createdOn}}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let element">{{element.code}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
