<div style="margin-top: 10px;">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Generate new code</div>
            <div class="panel-body">
                <form novalidate class="container-fluid">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="factoryInput">Factory</label>
                            <input type="text" class="form-control" id="factoryInput" placeholder="Factory" ng-model="$ctrl.factory">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="categoryInput">Category</label>
                            <input type="text" class="form-control" id="categoryInput" placeholder="Category" ng-model="$ctrl.category">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="$ctrl.generateNew()"
                            ng-disabled="!$ctrl.factory || !$ctrl.category">Generate</button>
                </form>
            </div>
        </div>
    </div>
</div>