<form [formGroup]="identifierForm" (ngSubmit)="generateIdentifier()" autocomplete="off" #formRef="ngForm">

  <div style="margin:2em;">
    <mat-toolbar color="accent">
      <span>Generate new code</span>
    </mat-toolbar>
    <mat-card>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="4em" gutterSize="2em">
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Factory" formControlName="factoryName" required maxlength="30" />
              <mat-hint>Max 30 characters</mat-hint>
              <mat-error *ngIf="factoryName.invalid && factoryName.hasError('required')">You must enter a value
              </mat-error>
              <mat-error *ngIf="factoryName.invalid && factoryName.hasError('maxlength')">You must enter max 30
                characters
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Category" formControlName="categoryName" required maxlength="30" />
              <mat-hint>Max 30 characters</mat-hint>
              <mat-error *ngIf="categoryName.invalid && categoryName.hasError('required')">You must enter a value
              </mat-error>
              <mat-error *ngIf="categoryName.invalid && categoryName.hasError('maxlength')">You must enter max 30
                characters</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" [disabled]="!identifierForm.valid">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
