<form [formGroup]="identifierForm" (ngSubmit)="generateIdentifier()" autocomplete="off" #formRef="ngForm">
  <div class="no-gutters">
    <div class="row no-gutters">
      <div class="col">
        <mat-toolbar color="accent">
          <span>Generate new code</span>
        </mat-toolbar>
      </div>
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col">
          <mat-form-field class="w-100 p-2" style="min-width: 245px;">
            <input matInput placeholder="Factory" formControlName="factoryName" required maxlength="30" />
            <mat-hint>Max 30 characters</mat-hint>
            <mat-error *ngIf="factoryName.invalid && factoryName.hasError('required')">You must enter a value
            </mat-error>
            <mat-error *ngIf="factoryName.invalid && factoryName.hasError('maxlength')">You must enter max 30
              characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100 p-2" style="min-width: 245px;">
            <input matInput placeholder="Category" formControlName="categoryName" required maxlength="30" />
            <mat-hint>Max 30 characters</mat-hint>
            <mat-error *ngIf="categoryName.invalid && categoryName.hasError('required')">You must enter a value
            </mat-error>
            <mat-error *ngIf="categoryName.invalid && categoryName.hasError('maxlength')">You must enter max 30
              characters</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col">
          <button class="m-2" mat-raised-button type="submit" [disabled]="!identifierForm.valid">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
