<div class="row justify-content-center no-gutters">
  <div class="col">
    <mat-toolbar color="primary">
      <button mat-flat-button class="application-header text-uppercase" color="primary" routerLink="/">Identifier
        generator</button>
        <button mat-flat-button color="primary" routerLink="/">Home</button>
        <button mat-flat-button color="primary" routerLink="/identifier">Identifiers</button>
    </mat-toolbar>
  </div>
</div>
<div class="row justify-content-center no-gutters">
  <div class="col-10 mt-2">
    <app-loading-overlay [isLoading]="isLoading">
      <router-outlet></router-outlet>
    </app-loading-overlay>
  </div>
</div>
<div class="row justify-content-center no-gutters">
  <div class="col">
    <mat-divider></mat-divider>
    <footer>
      &copy; 2019 - Identifier Generator
    </footer>
  </div>
</div>

<router-outlet name="popup"></router-outlet>
