<mat-toolbar color="primary">
  <span class="application-header" routerLink="/">Identifier generator</span>
</mat-toolbar>

<mat-grid-list cols="24" rowHeight="220px">
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="20">
    <app-identifer-generate-form></app-identifer-generate-form>
  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>

<div class="router-outlet-container">
  <div class="loading-overlay" *ngIf="isLoading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <router-outlet></router-outlet>
</div>

<mat-divider></mat-divider>

<footer>
  © 2019 - Identifier Generator
</footer>
